name: My Target Workflow

on:
  repository_dispatch:
    types: [trigger-workflow]
  release:
    types: [published]

env:
  GITHUB_TOKEN: ${{ secrets.PAT }}
  TF_ACTION_WORKING_DIR: "terraform"
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }} | base64 --decode

jobs:
  terraform:
    name: "Terraform Infrastructure Change Management"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        # We keep Terraform files in the terraform directory.
        working-directory: ./

    steps:
      - name: Checkout the repository to the runner
        uses: actions/checkout@v2

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.0

      - name: Terraform init
        id: init
        run: terraform init -backend-config="bucket=$BUCKET_TF_STATE"

      - name: Terraform format
        id: fmt
        run: terraform fmt -check

      - name: Terraform validate
        id: validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -no-color -input=false
        continue-on-error: true

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
# jobs:
#   tf_fmt:
#     name: Deploy Site
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout Repo
#         env:
#           GITHUB_TOKEN: ${{ secrets.PAT }}
#         uses: actions/checkout@v4

#       - name: Terraform Init
#         uses: hashicorp/terraform-github-actions/init@v0.4.0
#         env:
#           GITHUB_TOKEN: ${{ secrets.PAT }}
#           TF_ACTION_WORKING_DIR: "terraform"
#           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
#           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }} | base64 --decode

#       - name: Terraform Validate
#         uses: hashicorp/terraform-github-actions/validate@v0.3.7

#       - name: Terraform Apply
#         uses: hashicorp/terraform-github-actions/apply@v0.4.0
#         env:
#           GITHUB_TOKEN: ${{ secrets.PAT }}
#           TF_ACTION_WORKING_DIR: "terraform"
#           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
#           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }} | base64 --decode
